* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins';
}

.mainbody {
    width: 100vw;
    /* border: 1px solid black; */
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    overflow: hidden;
    background: linear-gradient(rgba(27, 27, 50, 0.8));
    -webkit-image-fill-color: rgba(27, 27, 50, 0.8);
}

.centerdiv {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(27, 27, 50, 0.8);
}

.header {
    width: 100%;
    height: 20%;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.colorbackground {
    background-attachment: fixed;
    background: rgba(27, 27, 50, 0.8);
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    height: 80%;
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    padding: 50px;
    font-size: 18px;
}

.form input {
    margin-bottom: 30px;
    margin-top: 10px;
}

.form select {
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: 720px;
    height: 40px; */
    width: 90%;
    height: 40%;
    padding-left: 10px;
    font-family: 'poppins', sans-serif;
}

.form p {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    padding: 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: 90%;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 90%;
}

input::placeholder {
    font-family: 'poppins', sans-serif;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

input[type="radio"],
p {
    display: block;
}

.suggestions {
    display: block;
}

.text {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .mainbody {
        width: 100%;
        height: 100%;
    }
    .centerdiv {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .form {
        padding: 20px;
    }
    .form input {
        margin-bottom: 20px;
    }
    .form select {
        width: 100%;
        height: 40%;
    }
    .form p {
        font-size: 16px;
    }
    button {
        padding: 10px;
        width: 100%;
    }
    input {
        padding: 5px;
        width: 100%;
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }
    input[type="radio"],
    p {
        display: block;
    }
    .suggestions {
        display: block;
    }
    .text {
        width: 100%;
    }
}